.container {
  height: 100vh;
  background-color: rgb(222, 228, 228);
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.horizontal-line {
  border: 1px solid rgb(184, 186, 188);
  margin-top: 14px;
  margin-left: -12px;
  margin-right: -12px;
}
